body {
    width: 100%;
    height: 100%;
}

#logo {
    width: 98px;
    height: 47px;
    position: absolute;
    top: 22px;
    left: 64px;
}

.main_pagamento {
    width: 100%;
    height: 100%;
    background-image: url(../img/WAVES_BACKGROUND_01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 400px;
    display: flex;
}

.sec_main_pag {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 500px;
    height: auto;
}

.card_pag {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 32px;
    border: 2px solid #FF0149;
    border-radius: 16px;
    background: #020014;
    box-shadow: #ff0149a6 0px 0px 25px;
}

.card_pag h2 {
    font-family: 'Anton-Regular', monospace;
    color: #ffffff;
    font-size: 22pt;
    line-height: 32px;
    width: 100%;
    text-align: center;
}

.span_p_dados {
    color: #ffffff;
    font-size: 12pt;
}

.title_camp {
    padding: 4px 0 4px 0;
    font-family: 'AnonymousPro-Regular', monospace;
    color: #ffffff;
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #FF0149;
}

.card_pag span {
    font-family: 'AnonymousPro-Regular', monospace;
    color: #FF0149;
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    gap: 4px;
}

.card_pag section {
    margin-top: 16px;
}