<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title></title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='../src/css/styles_default.css'>
        <link rel='stylesheet' type='text/css' media='screen' href='../src/css/styles_painel_packs.css'>
        <noscript><meta http-equiv="refresh" content="0; URL='./error_js_disable.html '"/></noscript>
    </head>
    <body>
        <header>
    
        </header>
        <section class="main_painel_packs">
            <section class="sec_painel_packs left">
                <h2 class="title_left_packs">JUNTOS MOLDAMOS<br> O SEU FUTURO</h2>
                <section class="card_painel_packs">
                    <h2>DV Elite</h2>
                    <p>Proxima mensalidade</p>
                    <span>23/11/2023</span>
                </section>
            </section>
            <section class="sec_painel_packs right">
                <img src="../src/img/PAINEL_PACKS.png">
            </section>
        </section>
        <footer>
        </footer>
    </body>
</html>